.page {
  background-color: #e5ffff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input_box {
  background-color: #b2ebf2;
  height: 200px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.input_bar {
  height: 30px;
  border: none;
  border-radius: 5px 0px 0px 5px;
  padding: 0px;
}
.input_btn {
  height: 30px;
  border: none;
  border-radius: 0px 5px 5px 0px;
  background-color: #e5ffff;
  font-weight: bold;
}
